.calculator {
    padding: 12px 0;

    &-form {
        display: flex;
        justify-content: space-between;
    }

    &-side {
        width: 130px;

        &-input {
            box-sizing: border-box;
            font-size: 12px;
            border: 1px solid $color-gull-gray;
            background: $color-all-ocean;
            border-radius: 3px;

            padding: 8px 10px;
            width: 100%;
            line-height: 1.62;
            z-index: 2;

            &:focus {
                border: 1px solid $color-kuna-blue;
            }
        }

        &-coin-key, &-value {
            position: absolute;
            top: 11px;
            z-index: 3;

            font-size: 12px;
            font-weight: 400;
        }

        &-value {
            left: 10px;
        }

        &-coin-key {
            right: 10px;
        }
    }

    &-fee {
        font-size: 12px;
        margin: 8px 0;
    }
}
