
.application {
    padding: 16px 8px 16px 8px
}

.current-ticker {
    &__price {
        font-size: 20px;
        display: inline-block;
        position: relative;
        margin: 16px 0;

        &-currency {
            position: absolute;
            bottom: 0;
            left: 100%;
            margin-bottom: 2px;
            margin-left: 4px;
            font-size: 12px;
            color: rgb(200, 200, 200);
        }
    }

    &__title {
        font-size: 12px;
        color: rgb(200, 200, 200);
    }

    &__vol {
        display: inline-block;
        width: 100px;
        &-currency, &-value {
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
        }

        &-currency {
            color: rgb(200, 200, 200);
            margin-right: 4px;
        }

        &-value {
        }
    }
}

.ticker-list {
    display: flex;
    flex-direction: row;

    &__item {
        transition: all 0.2s;
        font-size: 10px;
        padding: 3px 6px;
        text-align: center;
        cursor: pointer;
        border-radius: 2px;
        background-color: rgb(240, 240, 240);
        margin: 0 4px;
        &:hover {
            background-color: rgb(220, 220, 220);
        }

        &.-active {
            background-color: $color-blue;
            color: white;
        }
    }
}