@font-face {
    font-family: 'TT Norms Regular';
    font-weight: 400;
    src: url(/fonts/tt_norms_regular.otf);
}

@font-face {
    font-family: 'TT Norms Medium';
    font-weight: 500;
    src: url(/fonts/tt_norms_medium.otf);
}

@font-face {
    font-family: 'TT Norms Bold';
    font-weight: 600;
    src: url(/fonts/tt_norms_bold.otf);
}

@font-face {
    font-family: 'TT Norms ExtraBold';
    font-weight: 700;
    src: url(/fonts/tt_norms_extrabold.otf);
}

$font: 'TT Norms', sans-serif;
