@import "fonts";
@import "variable";
@import "cleaner";

body {
    width: $weight;
    height: $height;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: $font;

    background-color: #0078c8;
    background: linear-gradient(45deg, #0078c8, #0091ff);
}

.created-by {
    // display: none;
    position: fixed;
    font-size: 10px;
    left: 3px;
    bottom: 3px;
    z-index: 1000;

    a {
        display: inline-block;
        color: rgb(230, 230, 230);
    }

    &__logo {
        height: 12px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 4px;
    }
}

@import "screens/home";