$window-height: 400px;

$color-kuna-blue: #5850FA;
$color-kuna-dark-blue: #312A7D;

$color-dark-gray: #0D0D3F;
$color-shuttle-gray: #676793;
$color-gull-gray: #93A9C3;
$color-alto: #DADFEA;
$color-all-ocean: #F4F6F9;

$color-success: #3B74E8;
$color-danger:  #FD2A47;
